[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "lscolors"]
	path = lscolors
	url = https://github.com/trapd00r/LS_COLORS.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "dircolors"]
	path = dircolors
	url = https://github.com/seebi/dircolors-solarized.git
