[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/kube-ps1"]
	path = zsh/plugins/kube-ps1
	url = https://github.com/jonmosco/kube-ps1.git
