[submodule "zsh/modules/powerlevel10k"]
	path = zsh/modules/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/modules/zsh-syntax-highlighting"]
	path = zsh/modules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/modules/wd"]
	path = zsh/modules/wd
	url = https://github.com/mfaerevaag/wd.git
